@import url(https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap);
body {
    margin:0 auto;
    padding:0;
    max-width:1200px;
    font-family:Space Grotesk;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height:100vh;
    background-color:#C8DEFF
}

/* Estilos para las imágenes */
.image2 {
  height: 250px;
  width:auto;
  margin:20px;
  box-shadow:0 4px 8px rgba(0,0,0,.1);
  border-radius: 10px; /* Ajusta el radio de borde según tus necesidades */
}

.sobrenos-section {
    position: relative;
  }
  
  .sobrenos-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./img/Gradient.png'); /* Imagen del círculo */
    background-repeat: no-repeat;
    background-position: center center; /* Ajusta la posición según tus necesidades */
    background-size: contain; /* Ajusta el tamaño según tus necesidades */
    filter: blur(60px); /* Difumina la imagen de fondo */
  }

.row {
  display: flex;
  justify-content: space-between;
  margin-left: -90px;
}

.col-md-6 {
  flex: 0 0 48%;
  box-sizing: border-box;
  margin: 1%;
  position: relative; /* Asegura que el contenido dentro pueda posicionarse de manera relativa */
}
.container1 {
    width:100%;
    border-radius:10px;
    max-width:1200px;
    margin-left: -150px;
}

.card-container {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between
}
.container {
    width:100%;
    border-radius:10px;
    max-width:1200px;
    margin:0 auto
}
.card {
    flex:1;
    margin:60px
}
.title-container {
    text-align:left;
    margin-left:20px;
    padding-top:5px
}
.image1 {
    object-fit:cover;
    float:right;
    margin-right:30px;
    position:relative;
    top:-75px
}
.card .title-container .title {
    color:#0a0a0a
}
.card .title-container .title1 {
    color:#FFF
}
.card-pink {
    background-color:#FCD6D6;
    border-radius:10px;
    width:500px;
    height:250px;
    box-shadow:0 2px 5px #0a0a0a
}
.card-sky {
    background-color:#D4E5FF;
    border-radius:10px;
    width:500px;
    height:250px;
    box-shadow:0 2px 5px #0a0a0a
}
.card-black {
    background-color:#0a0a0a;
    border-radius:10px;
    width:500px;
    height:250px;
    box-shadow:0 2px 5px #0a0a0a
}
.card-white {
    background-color:#FFF;
    border-radius:10px;
    width:500px;
    height:250px;
    box-shadow:0 2px 5px #0a0a0a
}
.card-blue {
    background-color:#A4BFEB;
    border-radius:10px;
    width:500px;
    height:250px;
    box-shadow:0 2px 5px #0a0a0a
}
.card-pink1 {
    background-color:#FCE3E3;
    border-radius:10px;
    width:500px;
    height:250px;
    box-shadow:0 2px 5px #0a0a0a
}
.conjunto-container {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    margin-top:20px;
    margin-left:20px
}
.Icono {
    margin-right:10px
}
.ver-mas {
    flex-grow:1;
    text-align:right;
    margin-left:auto
}
.ver-mas1 {
    flex-grow:1;
    text-align:right;
    margin-left:auto;
    background-color:#0a0a0a;
    color:#fff;
    padding:10px;
    border-radius:5px
}
.flex-container {
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none
}

.step.active {
    background-color:#FCE3E3;
    border-radius:20px;
    width:1070px;
    height:220px;
    box-shadow:0 2px 5px #0a0a0a;
    display:flex;
    justify-content:space-between;
    flex-direction:column;
    align-items:flex-start;
    margin:0 auto;
    margin-bottom:30px;
    -webkit-user-select: none; /* Para compatibilidad con Safari */
    user-select: none; /* Propiedad estándar */
}
.contenido {
    margin:20px;
    display:flex;
    flex-direction:row;
    align-items:center
}
.contenido1 {
    margin:20px;
    display:flex;
    flex-direction:row;
    align-items:center;
    color:#f9f9f9
}
.acciones {
    margin:20px;
    display:flex;
    align-items:center;
    justify-content:flex-end
}
.negativo {
    width:58px;
    height:58px;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    left:970px;
    top:-105px
}
.positivo {
    width:58px;
    height:58px;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    left:970px;
    top:-105px
}
.partedeabajo {
    display:flex;
    flex-direction:column;
    align-items:flex-start
}
.Linea {
    width:100%;
    background-color:#000;
    margin-bottom:10px;
    margin-top:-100px
}
.linea-oculta {
    display:none
}
.description {
    font-size:16px;
    line-height:1.5;
    color:#333
}
.step {
    background-color:#0F6595;
    border-radius:8px;
    padding:15px;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    box-shadow:0 2px 5px #0a0a0a;
    width:1070px;
    height:100px;
    justify-content:space-between;
    margin:50px auto;
    -webkit-user-select: none; /* Para compatibilidad con Safari */
    user-select: none; /* Propiedad estándar */
}
.button {
    background-color: rgb(252, 214, 214);
    color: #0a0a0a;
    padding: 10px 7px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}
.description {
    font-size:18px
}
.step .description {
    color:#666;
    line-height:1.5;
    display:none
}
.step.active .description {
    display:block
}

.step .number {
    font-size:40px;
    font-weight:700;
    margin-bottom:10px;
    margin-right:30px
}
.step .text {
    font-size:30px;
    margin-bottom:10px
}
.step .icon {
    font-size:20px;
    cursor:pointer;
    margin-bottom:10px
}

.step.active .icon {
    color:#007bff
}
.button-flex:focus {
    box-shadow:0 0 0 2px #007bff;
    outline:none
}
.button-flex:disabled {
    opacity:.5;
    cursor:not-allowed
}
.header {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px;
    background-color:#C8DEFF;
    margin:0;
    width:100%
}
.nav {
    display:flex;
    justify-content:flex-end;
    align-items:center;
    padding:20px;
    width:100%
}
.nav-left {
    display:flex;
    align-items:center;
    margin-right:auto
}
.nav-left img {
    margin-right:10px
}
.nav-container {
    width:100%;
    background-color:#C8DEFF;
    border-radius:10px;
    box-shadow:0 2px 5px rgba(0,0,0,.1);
    padding:20px
}
.nav-menu {
    height:60px;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    margin-top:-70px
}
.nav-list {
    display:flex;
    list-style:none;
    margin:0;
    padding:0
}
.nav-logo{
    text-decoration: none;
    color: #0a0a0a;
}
.Icon img {
    width:auto;
    height:auto;
    margin:20px;
    vertical-align:middle
}
.image {
    padding-top: 30px;
    width:420px;
    object-fit:cover;
    margin-left:auto;
    height:380px!important
}
.home-data {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:flex-start
}
.text-container {
    flex-basis:50%;
    margin-right:2rem;
    margin-top:50px
}
.home-btn {
    margin-top:30px
}
.home-btn a {
    text-decoration:none;
    background-color:#FFE3E3;
    color:#0a0a0a;
    padding:10px 20px;
    border-radius:5px
}
nav ul {
    list-style:none;
    margin:0;
    padding:0;
    display:flex;
    justify-content:space-between
}
.nav-list li {
    margin-right:20px
}
.nav-list a {
    text-decoration:none;
    color:#0a0a0a
}
.nav-list a:hover {
    color:#FFF
}
.nav-item {
    margin-right:20px
}
.text-container1 {
    flex-basis:50%;
    margin-right:2rem;
    margin-top:50px
}
.sobrenos-title {
    margin-right:40px;
    font-size:40px
}
.sobrenos-subtitle {
    margin-left:40px;
    font-size:25px;
    color:#0F6595
}
.sobrenos-parrafo {
    font-size:20px;
    margin-right:50px
}
.servicios-data {
    display:flex;
    align-items:center
}
.servicios-title {
    margin-right:40px;
    font-size:30px
}
.servicios-subtitle p {
    margin:0;
    font-size:20px
}
.CTA {
    background-color:#C8DEFF;
    padding:1rem 0;
    text-align:center
}
.card1 {
    background-color:#0F6595;
    padding:1rem;
    border-radius:20px;
    box-shadow:0 4px 4px rgba(0,0,0,.25);
    margin:0 auto;
    max-width:85%
}
.card-container1 {
    display:flex;
    align-items:center
}
.escrito {
    flex:1;
    margin-left:30px;
    margin-bottom:30px;
    margin-top:-20px
}
.escrito h3 {
    font-size:2.5rem;
    color:#FFF;
    font-weight:700;
    margin-bottom:1rem
}
.escrito p {
    color:#FFF;
    font-size:1rem;
    line-height:1.6
}
.escrito button {
    background-color:#FFE3E3;
    padding:1rem 3rem;
    border-radius:15px;
    font-size:1.2rem;
    font-weight:600;
    color:#0a0a0a;
    border:none;
    cursor:pointer;
    transition:background-color 0.3s ease
}
.escrito button:hover {
    background-color:#ffc1c1
}
.illustration {
    flex:1;
    display:flex;
    justify-content:center
}
.illustration img {
    width:300px;
    margin-right:-90px
}
.proceso-trabajo {
    padding:40px;
    display:flex;
    align-items:center
}
.proceso-title {
    margin-right:40px;
    font-size:30px
}
.proceso-subtitle {
    margin:0;
    font-size:20px
}
.contactanos {
    padding:40px;
    display:flex;
    align-items:center
}
.contactanos-title {
    margin-right:40px;
    font-size:30px
}
.contactanos-subtitle {
    margin:0;
    font-size:20px
}
.contact-container {
    display:flex;
    flex-direction:row;
    width:1050px;
    height:500px;
    margin:40px auto;
    padding:20px;
    background-color:#FCE3E3;
    border:1px solid #ccc;
    box-shadow:0 0 10px rgba(0,0,0,.1);
    border-radius:30px
}
.image-container {
    width:50%;
    height:100%;
    display:flex;
    justify-content:center;
    order:2
}
.form-container {
    width:50%;
    padding:50px;
    padding-right:100px;
    padding-bottom:90px;
    order:1
}
.form-container label {
    display:block;
    margin-bottom:10px
}
.form-container input,.form-container textarea {
    width:100%;
    padding:10px;
    border:1px solid #0a0a0a;
    border-radius:5px
}
.form-container textarea {
    height:100px
}
.form-container input[type="submit"] {
    background-color:#0a0a0a;
    color:#fff;
    padding:15px 10px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    margin-left:13px
}
.contact-container img {
    width:75%;
    height:auto;
    padding-left:295px
}
footer {
    padding:10px;
    background-color:#0a0a0a;
    border-radius:20px;
    width: 1050px;
}
.footer-container {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px
}
.footer-links {
    display:flex;
    list-style:none;
    margin-left:-20px
}
.footer-link {
    margin-right:40px;
    text-decoration:none;
    color:#fff
}
.footer-social {
    color:#f9f9f9;
    text-decoration:none;
    margin-left:10px
}
.footer-socials {
    margin-right:20px;
    text-decoration:none
}
.footer-title,footer-contact {
    color:#f9f9f9
}
.copyright {
    margin-top:-40px;
    margin-right:20px
}
.copyright p {
    color:#f9f9f9
}
.footer-contact {
    color:#f9f9f9
}
.footer-bottom {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px;
    margin-top:20px
}
.contact-us {
    margin-left:20px;
    margin-top:-20px
}
.animacion {
    will-change: transform, opacity;
  }
  
@media (max-width:768px) {
    body {
        padding:0 10px
    }
    form {
        max-width:400px
    }
}
@media (max-width:480px) {
    form {
        max-width:300px
    }
    label {
        font-size:14px
    }
    input,textarea {
        font-size:14px
    }
}
